body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(55, 97, 57);
}   
.cursor{
    background-color: rgb(198, 96, 0);
    opacity: 0.7;
    height: 70px;
    width: 70px;
    position: absolute;
 border-radius: 50%;
   mix-blend-mode: difference;
   transform: translate(-50% , -50%);
   transition: all linear ease 0.5s;
}
h1{
    font-size: 8vw;
}